.body{
    // color: white;
    font-size: 18px;

}

.card{
    box-shadow: 0 5px 10px 0 rgba(230, 230, 243, 0.88);
    background-clip: border-box;
    border: 1px solid #e4e4f4;
    border-radius: 0.25rem;
    padding: 15px;
    
}

.inc{
    display: flex;
    justify-content: space-between;

    &_sub{
        padding: 5px;
        border-radius: 5px;
        background-color: blue;
        color: white;
    }
}

.perc{
    // color: ;
    font-size: 30px;
}

.amnt{
    
    font-size: 30px;
    font-weight: 700;
}