
@import './../../../index.scss';

.book{
    background-color: $primary-color;
    height: 80vh;
    margin-bottom: 10px;
    box-shadow:2px 3px 5px rgba(0, 0, 0, 0.327);
    margin-top: 80px;
    // z-index: 1;
    // line-height: 3;
}
//box-shadow: 5px 12px -1px rgb(0 0 0 / 3%)

.form{
    background-color: #1089ff;
    height: 90vh;
    padding: 30px;
    margin-top: -2rem;
    margin-left: -2rem;
    border-radius: 10px;
    font-size: 16px;
    line-height: 1.8;
    font-weight: 400;
    color: #999999;

}

.para1{
    font-weight: bold;
    font-size: 1.6rem;
    color: $primary-color;
}

.btn{
    background: #01d28e !important;
    color: $primary-color;
    padding:10px 138px ; 
}

// side 2

.car{
    padding: 4em 3em;

    


    &_para1{
        font-size: 30px;
        font-weight: 700;
       
    }
}

.car_logo{
    margin-top: 100px;
}

.logos{
    width: 90px;
    height: 90px;
    justify-content: center;
    display: flex;
    display: inline-block;
    align-items: center;
    margin-left: 10px;
    font-size: 40px !important;
    color: $frequent-color;
    padding: 50px;
    outline-offset: 15px;
    outline: 1px solid rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    margin-right: 100px;
}