@import "./../../../index.scss";

.banner {
  background-image: linear-gradient(
      to right bottom,
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.4)
    ),
    url("./../../../assets/pexels-mike-b-120049.jpg");
  height: 100vh;
  background-size: cover;
  background-position: top;
  text-align: center;
  padding-top: 8%;
  padding-left: 70px;
  padding-right: 70px;
  color: $primary-color;
  clip-path: polygon(100% 0, 100% 38%, 100% 90%, 0 100%, 0 0);

  @media screen and (max-width: 768px) {
    height: 80vh;
    background-position: center;
    clip-path: polygon(100% 0, 100% 38%, 100% 95%, 0 100%, 0 0);
  }
}

.para1 {
  font-size: 3.9rem;
  font-weight: 700;

  @media screen and (max-width: 768px) {
    font-size: 35px;
  }
}

.para2 {
  // width: 80%;
  font-size: 1.6rem;
  text-align: center;
  @media screen and (max-width: 768px) {
    font-size: 1.2rem !important;
  }
  @media screen and (max-width: 430px) {
    display: inline-flex;
  }
}

.book {
  height: 80% !important;
  color: $primary-color;
}

.form {
  background-color: #6610f2;
}
