@import "./../../index.scss";

.title {
  font-weight: 800;
  font-size: 20px;
  text-transform: uppercase;

  &_sub{
   color: #01d28e
  }
}

.header {
  display: flex;
  padding: 20px;
  flex-direction: row;
  padding-left: 1.5rem;
  overflow-x: hidden;
  margin-bottom: 0px;
}
.navs {
  display: flex;
  justify-content: flex-end;
  flex: 1;
}
.nav_items {
  text-decoration: none;
  margin-left: 40px;
  font-size: 17px;
  font-weight: 700;
  color: black;

  // &:hover {
  //   color: black;
  // }
}

.active {
  color: $frequent-color;
}
.not_active {
  color: black;
}


.icon{
   @include responsive(phone){
      margin-left: -500px;
   }
}

.resp_nav{
  padding: 20px;
  // padding-left: 20px;
}

.resp_navs{
  display: block;
  text-decoration: none;
  font-size: 17px;
  padding-top: 20px;
  color: black;
  font-weight: 700;
  // text-align: center;


  &_logo{
     padding-right: 10px;
     color: #01d28e !important;
  }

}